@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap';

body {
  margin: 0;
}

.header__container {
  max-width: 1200px;
  min-width: 1024px;
  background-color: #fff;
  height: 60px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  flex-shrink: 1;

  padding: 0 50px;
  box-sizing: border-box;
}

.header__nav {
  display: flex;
  flex-shrink: 1;
  align-items: center;
  position: relative;
  flex-basis: content;
}

img {
  width: 40px;
  height: 40px;
  margin: 10px 0;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  justify-content: center;
  align-items: center;
}

.is-active::after {
  content: '';
  width: 37px;
  height: 4px;
  display: inline-block;
  box-sizing: border-box;
  margin-top: auto;
  opacity: 1;
  border-radius: 8px;
  background-color: #00acdc;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  position: absolute;
  bottom: 0;
  translate: translateY(0%);
}

nav ul li {
  margin-left: 20px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul a {
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 60px;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  color: #000;
}

nav ul:first-child {
  margin-left: 0;
}

.is-active {
  color: #00acdc;
  position: relative;
}

nav ul a:hover,
nav ul a:focus,
nav ul a.is-active {
  color: #00acdc;
}

nav ul a:hover::after,
nav ul a.is-active::after {
  opacity: 1;
  transform: translateY(0);
}
